* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fix the header block */
header {
    background: #000000;
    height: 924px;
    text-align: center;
}

nav {
    background: #000000;
    padding: 35px 0;
    text-align: center;
}

/* Remove bullet points and default padding/margin */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Display the list items inline (horizontally) */
nav li {
    display: inline-block;
    margin: 0px 18px;
}

/* Style the links */
nav a {
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    color: #757575;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    color: #ffffff;
    transition: color 0.5s ease-in-out;
}

#intro {
    height: 500px;
    width: 1000px;
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 200px 380px;
    line-height: 1.5;
}

#intro h1 {
    color: rgb(53, 223, 223);
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
}

#intro p {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 65px;
    font-weight: bold;
}

#intro h5 {
    color: #757575;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    word-spacing: 7px;
    letter-spacing: 3px;
    margin-top: 170px;
}