* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

/* Fix the header block */
header {
    background: #000000;
    height: 120px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1000;
    transition: all 0s ease-in-out;
}

header.scrolled {
    height: 70px;
}

nav {
    background: #000000;
    padding: 35px 0;
    text-align: center;
    transition: padding 0.3s ease-in-out;
}

header.scrolled nav {
    padding: 20px 0;
}

/* Remove bullet points and default padding/margin */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Display the list items inline (horizontally) */
nav li {
    display: inline-block;
    margin: 0px 18px;
}

/* Style the links */
nav a {
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    color: #757575;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    color: #ffffff;
    transition: color 0.5s ease-in-out;
}

