html {
    scroll-behavior: smooth;
}

#intro {
    height: 924px;
    width: 1500px;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-top: 300px;
    padding-left: 380px;
    line-height: 1.5;
}

#intro h1 {
    color: rgb(53, 223, 223);
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
}

#intro p {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 65px;
    font-weight: bold;
}

.scroll-line {
    display: flex;
    align-items: center;
    color: #757575;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    word-spacing: 7px;
    letter-spacing: 3px;
    margin-top: 170px;
    cursor: pointer;
}

.scroll-line .line {
    margin-left: 15px;
    width: 70px;
    height: 1px;
    background-color: rgb(53, 223, 223);
}

#about {
    background-color: white;
    text-align: left;
    padding: 150px 380px;
    line-height: 1.5;
}

#about-content {
    display: flex;
    flex-direction: row;
}

#about h1 {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px; 
    font-weight: bold;
    font-size: 18px;
}

.about-line .line {
    margin-bottom: 15px;
    width: 140px;
    height: 2px;
    background-color: rgb(53, 223, 223);
}

#about-description {
    padding-top: 70px;
    font-size: 19px;
    font-family: "Playfair Display", serif;
    width: 500px;
    color: black;
}

#contact-details {
    text-align: left;
    padding-top: 115px;
    padding-left: 200px;
}

#contact-details h1 {
    letter-spacing: 0px;
    font-size: 22px;
}

#contact-description {
    padding-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 2.5;
}

.dl-cv-btn {
    margin-top: 55px;
    margin-left: 225px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 3px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    color: white;
    width: 600px;
    height: 60px;
    cursor: pointer;
}

.dl-cv-btn:hover {
    background-color: rgb(53, 223, 223);
    border: none;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out;
}


.education-details {
    padding-top: 150px;
}

.education-details .line {
    margin-bottom: 15px;
    width: 140px;
    height: 2px;
    background-color: rgb(53, 223, 223);
}

.education-icon {
    margin-top: 70px;
    margin-left: 80px;
}

.education-content-row1 {
    display: flex;
    flex-direction: row;
}

.education-description {
    font-family: "Open Sans", sans-serif;
    padding-left: 60px;
    padding-top: 50px;
    font-size: 15px;
}

.timeline-title {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

.timeline-desc {
    padding-top: 30px;
    font-size: 16px;
    width: 500px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

.skills-content {
    padding-top: 100px;
}

.skills-content .line {
    margin-bottom: 15px;
    width: 140px;
    height: 2px;
    background-color: rgb(53, 223, 223);
}
